@font-face {
    font-family: 'ciscosanslight';
    src: url('../../static/font/ciscosanslight-webfont.eot');
    src: url('../../static/font/ciscosanslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../static/font/ciscosanslight-webfont.woff') format('woff'),
         url('../../static/font/ciscosanslight-webfont.ttf') format('truetype'),
         url('../../static/font/ciscosanslight-webfont.svg#ciscosanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{margin: 0px; padding: 0px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px;outline: none; font-weight: normal;}
ul,li{list-style: none;}
a{text-decoration: none;}
i{font-style: normal;}
.hide{display: none !important;}

.bg{width: 1440px; height: 803px; margin: 0 auto; background: url('../img/bg.png') no-repeat center; position: relative; background-size:contain;}
.bg2{width: 1440px; height: 803px; margin: 0 auto; background: url('../img/bg2.png') no-repeat center; position: relative; background-size:contain;}
.search_bg{width: 708px; height: 36px; position: absolute; top: 18px; left: 304px; border-radius: 18px; background: rgba(0,0,0,0.08)}
.search_bg .iptSearch{width: 676px; height: 36px; line-height: 36px; position: relative; text-indent: 16px; font-size: 16px; color:black; outline: none; border: none; background: none; margin-left: 16px;
transition: text-indent .2s ease;}
.search_bg .iptSearch::placehold{font-size: 16px; color:#999;}
.search_bg .icon_search{display: block; width: 16px; height:36px; background: url('../img/icon_search.svg') no-repeat center 9px; position: absolute; left: 124px; top:0px;
transition: left .2s ease;}

.search_bg .onIpt{ text-indent: 16px; transition: text-indent .2s ease;}
.search_bg .icon_search{ left: 10px; transition: left .2s ease;}

.search_bg .btnClose{display: none;width: 32px; height: 36px; background: url('../img/close.svg') no-repeat center; position: absolute; top: 0px; right: 0px; cursor: pointer;}


.tip{position: absolute; top: 32px; left: 156px;}
.tip a{display: block ; width:392px; height: 100px; position: absolute; bottom: 0px; left: 0px; cursor: pointer;}
.suggestion{position: absolute; top: 39px; left: 1px; width: 706px; border: 1px solid rgba(0,0,0,0.12); border-radius: 4px; box-shadow:0 4px 12px 0 rgba(0,0,0,0.16); z-index: 100; background: white;}

.suggestion_block>h1{width:642px; margin-left: 32px; height: 42px; line-height: 42px; border-bottom: 1px solid rgba(0,0,0,0.12); font-size: 12px; color: black;}

.suggestion_block li{width:642px; padding: 0 32px; height: 70px; position: relative; }
.suggestion_block li:hover{background: rgba(0,184,230,0.08); cursor: pointer;}
.suggestion_block li::before{content: ''; height: 15px; display: block; width: 100%;}

.suggestion_block .suggestion_noresult li:hover{background: white; cursor: pointer;}
.suggestion_block .suggestion_noresult li::before{content: '';height: 0px;}
.suggestion_block .suggestion_noresult li h3{text-align: center; font-size: 16px; color: black; line-height: 70px; height: 70px;}

.suggestion_block li h2{ height: 22px; line-height: 22px; color: black; font-size: 14px;}
.suggestion_block li p{height: 18px; line-height: 18px; color: #999; font-size: 14px;}
.suggestion_block li i{color:#e0e0e0; margin: 0 8px;}
.suggestion_block li span{font-weight: bold; color:black;}
.suggestion_block li .btnJoin{width: 70px; height: 36px; line-height: 36px; display: block; position: absolute; top: 17px; right:32px; color:white; font-size: 16px; text-align: center; background: #2BC852; border-radius: 100px; cursor: pointer;}
.suggestion_block li .btnPlay{display: block; width: 20px; height: 20px; position: absolute; top: 25px; right:57px; background: url('../img/play.svg') no-repeat center;}